

$bg-gradient-color: linear-gradient(90deg, rgb(44, 38, 85) 0%, rgba(100, 115, 255, 1) 100%);
$btn-gradient-color: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
$edit-btn-gradient-color: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
$input-border-color: #5d0cff;
$edit-input-border-color: #149fff;
$r1-bg-color: linear-gradient(90deg, rgb(185, 143, 113) 0%, rgb(83, 65, 58) 100%);
$r2-bg-color: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
$r3-bg-color: linear-gradient(90deg, rgb(129, 214, 73) 0%, rgba(129, 214, 73) 100%);
$r4-bg-color: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
$icon-color: #fff; 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: $bg-gradient-color;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  max-width: 800px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 5%;
}

.todo-input {
  padding: 4% 8% 4% 4%;
  border-radius: 4px 0 0 4px;
  border: 2px solid $input-border-color;
  outline: none;
  width: 68%;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  margin: 2%;
  padding: 4%;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: $btn-gradient-color; 
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid $edit-input-border-color;
}

.todo-button.edit {
  background: $edit-btn-gradient-color;
    padding: 4%;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% auto;
  color: #fff;
  background: $r1-bg-color;
  padding: 3%;
  border-radius: 5px;
  width: 90%;


  &:nth-child(4n + 1) {
    background: $r2-bg-color;
  }

  &:nth-child(4n + 2) {
    background: $r3-bg-color;
  }

  &:nth-child(4n + 3) {
    background: $r4-bg-color;
  }
}

.icons {
  display: flex;
  align-items: center;
  font-size: 3.5vw;
  cursor: pointer;
}

.delete-icon {
  margin-right: 2%;
  color: $icon-color;
}

.edit-icon {
  color: $icon-color;
}